
  
  .conainer {
    display: grid;
    justify-content: center;
    /* flex-direction: column; */
    background-color: green;
}


.display {
    display: grid;
    justify-content: end;
    padding-right: 10px;
    background-color:  rgb(255, 255, 255);
    border: 2px black solid;
    border-radius: 10px;

    max-width: 20fr;
    min-width: 20fr;
    
}

.calculator{
    display: grid;
    grid-template-columns: 6ch 6ch 6ch 6ch ;
    grid-template-rows: 6ch 6ch 6ch 6ch;
    justify-content: center;
    align-items: center;



    background-color: gray;
    gap: 5px;

    /* margin-left: 10px;
    margin-right: 10px; */
    margin-bottom: 10px;



    border: 2px black solid;
    border-radius: 10px;
}

.conainer > * :nth-child(6) {
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.buttons{
    margin: 3px;

    font-size:  15px;
    padding: 10px;
}

.operation { 
    color: indianred;
}

.userInput {
    color: blue;
}
.btnCLR{
    color: hotpink;
}

.btnDEL{
    color: yellow;
}



