
  
  .conainer {
    display: grid;
    justify-content: center;
    flex-direction: column;
    background-color: green;
}


.display {
    display: grid;
    justify-content: center;
}

.calculator{
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-items: center;



    background-color: gray;
    gap: 5px;

    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;


    border: 2px black solid;
    border-radius: 10px;
}

.conainer > * :nth-child(6) {
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.buttons{
    /* flex-basis: 25%; */
    margin: 3px;

    font-size:  15px;
    padding: 10px;
}